<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <title><%= suite_title %></title>
</head>
<body>
<table id="suiteTable" cellpadding="1" cellspacing="1" border="1" class="selenium">
<tbody>
<tr><td><b><%= suite_title %></b></td></tr>
<% testcases.each do |testcase|%>
<tr><td><a href="<%= testcase[0] %>.html"><%= testcase[0] %></a></td></tr>
<% end %>
</tbody>
</table>
</body>
</html>
